.vscode/**
.vscode-test/**
!package-lock.json
out/**
dist-test/**
node_modules/**
src/**
test/**
tsconfig.test.json
dist/test/**
dist/**/*.map
test-results.txt
KEY_MANAGEMENT_IMPLEMENTATION.md
vsc-extension-quickstart.md
media/**
images/**
.gitignore
.yarnrc
esbuild.js
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
mini-idp/**